@model ListaViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/jquery-serializeObject.js"></script>
    <script src="~/js/services/AjaxService.js"></script>
    <script src="~/js/services/MensagemService.js"></script>
    <script src="~/js/lista.js"></script>
    <script src="~/js/convidado.js"></script>
    <script src="~/js/participante.js"></script>
    <script>
        $(document).ready(function () {
            $('#modal-convites-recebidos').modal('show');
        });
    </script>
}

<article class="container mt-3">
    <header class="row mb-3">
        <div class="col-12">
            <div class="card">
                <div class="card-header bg-white border-0">
                    <div class="row">
                        <div class="col-8">
                            <h4 class="h4 m-0 mt-1 text-secondary"><i class="far fa-clipboard"></i> Minhas listas@(Model.IsLixeira == true ? " (Lixeira)" : ""):</h4>
                        </div>
                        <div class="col-4 text-right">
                            <button type="button" class="btn btn-success btn-sm" onclick="lista.getFormModal('@Url.Action("InsertLista","Lista", new { area = "Painel" })')">
                                <i class="fas fa-plus"></i> <span class="d-none d-md-inline-block">Nova lista</span>
                            </button>
                            @if (Model.IsLixeira == false)
                            {
                                <a asp-area="Painel" asp-controller="Lista" asp-action="Index" asp-route-isLixeira="true" class="btn btn-light btn-sm">
                                    <i class="far fa-trash-alt"></i> <span class="d-none d-md-inline-block">Lixeira</span>
                                </a>
                            }
                            else
                            {
                                <a asp-area="Painel" asp-controller="Lista" asp-action="Index" asp-route-isLixeira="false" class="btn btn-light btn-sm">
                                    <i class="fas fa-angle-left"></i> <span class="d-none d-md-inline-block">Voltar</span>
                                </a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="d-flex flex-wrap justify-content-around">
        @foreach (var lista in Model.Listas)
        {
            <div class="lista media" data-lista-id="@lista.Id">
                <img src="@lista.Monster.LinkUrl" class="lista__img align-self-center mr-3" alt="" />
                <div class="lista__body media-body align-self-center">
                    @if (lista.ListaStatus == me.mlists.domain.Enums.ListaStatusEnum.Ativo)
                    {
                        <h2 class="lista__titulo">
                            <a asp-area="Painel" asp-controller="Tarefa" asp-action="Index" asp-route-listaId="@lista.Id" class="text-dark lista__titulo__text">@lista.Nome</a>
                        </h2>
                    }
                    else
                    {
                        <h2 class="lista__titulo text-dark lista__titulo__text">@lista.Nome</h2>
                    }
                    <div class="d-block mt-4">
                        <button type="button" class="btn btn-sm btn-outline-success pt-0 pb-0">
                            <i class="far fa-check-square mr-1"></i> @lista.Tarefas.Where(x => x.IsChecked == true).Count()
                        </button>
                        <button type="button" class="btn btn-sm btn-outline-danger pt-0 pb-0">
                            <i class="far fa-square mr-1"></i> @lista.Tarefas.Where(x => x.IsChecked == false).Count()
                        </button>
                        <button type="button" class="btn btn-sm btn-outline-secondary pt-0 pb-0">
                            <i class="fas fa-users mr-1"></i> @lista.Participantes.Count()
                        </button>
                    </div>
                </div>
                <div class="lista__dropdown">
                    <button type="button" class="btn btn-link text-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v"></i>
                    </button>
                    @if (lista.ListaStatus == me.mlists.domain.Enums.ListaStatusEnum.Ativo)
                    {
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" asp-area="Painel" asp-controller="Tarefa" asp-action="Index" asp-route-listaId="@lista.Id">Visualizar</a>
                    <button class="dropdown-item" type="button" onclick="convidado.getFormModal('@Url.Action("ConvidadosLista","Convidado",new { area = "Painel", listaId = @lista.Id })')">Convidar amigos</button>
                    <button class="dropdown-item" type="button" onclick="participante.getFormModal('@Url.Action("ParticipantesLista","Participante",new { area = "Painel", listaId = @lista.Id })')">Participantes</button>
                    <button class="dropdown-item" type="button" onclick="lista.getFormModal('@Url.RouteUrl("lista_get_update_lista", new { listaId = @lista.Id })')">Alterar</button>
                    <div class="dropdown-divider"></div>
                    <form id="logoutForm" class="form-inline" asp-route="lista_post_mover_lixeira_lista" asp-route-listaId="@lista.Id" onsubmit="lista.submitMoverLixeira(this,event,false)">
                        <button id="logout" type="submit" class="dropdown-item">Deletar</button>
                    </form>
                </div>
                    }
                    else if (lista.ListaStatus == me.mlists.domain.Enums.ListaStatusEnum.Lixeira)
                    {
                        <div class="dropdown-menu dropdown-menu-right">
                            <form id="logoutForm" class="form-inline" asp-route="lista_post_restaurar_ativo" asp-route-listaId="@lista.Id" onsubmit="lista.submitRestaurarAtivo(this,event)">
                                <button id="logout" type="submit" class="dropdown-item">Restaurar</button>
                            </form>
                            <div class="dropdown-divider"></div>
                            <form id="logoutForm" class="form-inline" asp-route="lista_post_exclusao_permanente" asp-route-listaId="@lista.Id" onsubmit="lista.submitExclusaoPermanente(this,event)">
                                <button id="logout" type="submit" class="dropdown-item">Exclusão permanente</button>
                            </form>
                        </div>
                    }
                </div>
            </div>
        }
    </section>
</article>

@if (Model.ConvitesViewModel.Count() > 0)
{
    <div class="modal remove-hide fade" id="modal-convites-recebidos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Convites</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Você possui convites para participar de outras listas:</p>
                    <partial name="../Convidado/partial/_ResponderConvitesForm" model="Model.ConvitesViewModel" />
                </div>
            </div>
        </div>
    </div>
}